.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.temp {
background-image: url('./Banner.svg');
height: 800px;
color: white;
display: flex;
font-family: "Inter";
background-color: '#ffffff';
flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box {
  width: 1800px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.card {
  width: 200px;
  height: 200px;
  display: flex;
  color:'black';
  align-items: center;
  justify-content: center;
}

.card p {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  opacity: 0.4;
}

.action-btns {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 50px;
}

.action-btns button {
  font-size: 15px;
  font-weight: 500;
  color: #002d36;
  background-color: #99c6cf;
  border-radius: 6px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.action-btns button:hover {
  color: #ffffff;
  background-color: #002d36;
}